.widgetForm {
    label {
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    select {
        font-size: 3rem;
        border: 0px solid #fafafa;
        border-radius: 1rem;
        text-align: center;
        width: 250px;
    }

    .widgetTypeContainer,
    .widgetThemeContainer {
        margin: 0 6.5rem;
    }
}
