@import './styling/variables';
@import './styling/typography.scss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

element {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-weight: bold;
    &.dark {
        background-color: $dark;
        color: $light;
    }
    &.light {
        background-color: $light;
        color: $dark;
    }
}

body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-weight: bold;
    &.dark {
        background-color: $dark;
        color: $light;
    }
    &.light {
        background-color: $light;
        color: $dark;
    }
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

button {
    &:hover {
        cursor: pointer;
    }
}
